.testimonial{
     margin: 40px 0;
    .testimonial-title{
   
        text-align: center;
         h2{
            font-size:40px;
         }
        p{
             font-size:16px;
          
         }
    }
    button{
        border:none;
        color:white;
        background-color:red;
        padding:2px 10px;
        border-radius:5px;
    }
}

 .card-container{
    margin: 50px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .card-body{

        img{
          border-radius: 50%;
          width: 100px;
          height: 100px;
      }
       }
 }
