nav{
    padding: 20px 0;
    color: white;
    position: fixed;
    position: absolute;
    top: 0%;
z-index:999 ;
right: 0;
left: 0%;
}
.nav-links{
  
    a{
        text-decoration: none;
        margin-right: 20px;
        color: white;
    }
  
}
